<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- htmlタグがエスケープされる -->
    <p><%= message %></p>
    <!-- htmlが効いた単語として表示 -->
    <p><%- message %>test</p>
</body>
</html>